.vdr {
  position: absolute;
  background-size: contain;
  background-position: center;
  transform-origin: center;
  background-color: skyblue;
  cursor: move;
}

.vdr-slot {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  z-index: 1;
}

.vdr-stick {
  display: block;
  width: 10px;
  height: 10px;
  box-sizing: border-box;
  position: absolute;
  font-size: 1px;
  background: #ffffff;
  border: 1px solid #6c6c6c;
  box-shadow: 0 0 2px #bbb;
  z-index: 9;
}

.vdr-stick-tl {
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  cursor: nwse-resize;
}

.vdr-stick-tm {
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: ns-resize;
}

.vdr-stick-tr {
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  cursor: nesw-resize;
}

.vdr-stick-ml {
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  cursor: ew-resize;
}

.vdr-stick-mr {
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  cursor: ew-resize;
}

.vdr-stick-bl {
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
  cursor: nesw-resize;
}

.vdr-stick-bm {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  cursor: ns-resize;
}

.vdr-stick-br {
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
  cursor: nwse-resize;
}

.vdr-rotate {
  top: 0;
  left: 50%;
  transform: translate(-50%, -260%);
  cursor: crosshair;
}

.vdr-stick-line {
  position: absolute;
  width: 1px;
  left: 50%;
  top: 100%;
  margin-left: -0.5px;
  height: 150%;
  border-left: 1px dashed #000;
}

.vdr-active {
  outline: 1px dashed #000;
}

.vdr-not-active {
  cursor: default;
}

.vdr_bg {
  height: 100%;
  width: 100%;
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}
