@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
}

ol,
ul,
li {
  list-style: none;
}

i {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

[class*='flex'] {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-sa {
  justify-content: space-around;
  align-items: center;
}

.flex-sb {
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-yc {
  align-items: center;
}

.flex-xc {
  justify-content: center;
}

.pos-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.pos-xc {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.pos-yc {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
